<%- include("template/cabecera", {tituloweb: 'Crear nuevo equipo' }) %>

    <div class="container">
        <h1>Destalle Equipo</h1>
        <a href="/equipos" class="btn btn-dark">Regresar a Equipos</a>
        
        <% if (error) { %>
            <p>
            <%= mensaje %>
            </p>
            <a href="/equipos" class="btn btn-dark btn-block">Volver a equipos</a>
        <% } %>

        <% if (!error) { %>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><%= equipo.id %></th>
                        <td><%= equipo.nombre %></td>
                        <td><%= equipo.descripcion %></td>
                        <td>@mdo</td>
                    </tr>           
                </tbody>
              </table>
         
        <% } %>
        
    </div>
   
    

<%- include("template/footer") %>